/*---------------------------------------*/

#nav.create {
    background-color: var(--text-heading);
    color: var(--background-gray);
    position: static;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 0 !important;
    z-index: 1030;
    user-select: none;
    transition: none;
    display: flex;
}

#nav.create.proto {
    position: fixed !important;
    padding-top: 0 !important;
}

#nav.create h6,
#nav.create p {
    color: var(--background-gray);
}

#nav.create .border-right,
#nav.create .border-left {
    border-color: rgba(255, 255, 255, 0.2);
    display: block;
}

#nav.create .header-title h6 {
    padding: 15px 15px 15px 0;
    height: 100%;
    text-align: left;
    width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-btn {
    padding: 25px 50px;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    border: 0px solid transparent;
    color: var(--background-gray);
    opacity: 0.6;
}

.header-btn:hover {
    color: var(--brand-white);
    fill: var(--brand-white);
    /* background-color: rgba(255, 255, 255, 0.1); */
    opacity: 1;
}

.header-btn:hover {
    transform: none;
}

.header-btn h6 {
    display: inline-block;
    color: var(--background-gray);
}

.header-btn.with-icon svg {
    width: 15px;
}

.header-btn.icon-left svg {
    margin-right: 20px;
}

.header-btn.icon-right svg {
    margin-left: 20px;
}

.header-btn.icon-right,
.header-btn.icon-left {
    margin-left: 0;
    margin-right: 0;
}

.header-btn.icon-only svg {
    width: 20px;
}

/*------------------------------*/
body.create {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    /* background-color: var(--background-offwhite); */
    display: block;
    position: relative;
}

#main.create {
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    background: none;
    background-color: transparent;
    display: block;
    position: fixed;
    transform: none;
    padding: 0;
}

#body #main.create {
    padding: 0;
}

#main .side.create {
    max-width: 400px;
    width: 400px;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    position: fixed;
    display: block;
    /* bottom: 0; */
    /* left: 0; */
}

#main .body.create {
    /* max-width: calc(100vw - 400px); */
    width: calc(100vw - 400px);
    height: calc(100vh - 75px);
    transform: translate(400px, 0px);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    display: flex;
}

#main .body.create #body-container {
    height: 100%;
    width: 100%;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
}

#main .body.create.show #body-container #body-header {
    max-width: 1000px;
}

#main .body.create.show #body-container #body-content {}

#main .body.create #body-container #body-header {
    width: 100%;
    max-width: 1000px;
    padding: 30px 30px;
    margin: 0px auto;
    margin-bottom: 20px;
    display: block;
    /* height: calc(100% - 40px); */
    overflow: hidden;
    border: 1px solid var(--background-gray);
    background-color: var(--brand-white);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    border-radius: 10px;
}

#main .body.create #body-container #body-content {
    width: 100%;
    max-width: 1000px;
    padding: 30px 30px;
    margin: 0px auto;
    margin-bottom: 90px;
    display: block;
    border: 1px solid var(--background-gray);
    background-color: var(--brand-white);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    border-radius: 10px;
}

#main .body.create #body-container #footer.create {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto !important;
    padding: 20px;
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
#chapters {
    /* height: 100%; */
    width: 100%;
    overflow: hidden auto;
    display: list-item;
    padding: 20px;
    /* padding-bottom: 103px; */
    transition: all .3s ease-in-out 0s;
    /* padding-bottom: 160px; */
    padding-bottom: 107px;
}

.chapter {
    margin: 0px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid var(--background-gray);
    background: var(--brand-white);
    /* box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12); */
    border-radius: 10px;
    /* overflow: hidden; */
    user-select: none;
}

.chapter:nth-last-child(1) {
    margin-bottom: 0px;
}

.chapter .lesson-types.show {
    display: flex;
}

.chapter .lesson-types {
    padding: 0px 20px 0px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.chapter .lesson-type {
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out 0s;
}

.chapter .lesson-type:hover {
    /* background-color: rgba(251, 132, 13, 0.05); */
}

.chapter .lesson-type svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.chapter .lesson-type svg path {
    fill: var(--text-heading);
    transition: all .3s ease-in-out 0s;
}

.chapter .lesson-type p {
    font-family: CircularStd;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-heading);
    margin-bottom: 0px;
    transition: all .3s ease-in-out 0s;
}

.chapter .lesson-type:hover p,
.chapter .lesson-type:hover svg path {
    fill: var(--brand-primary);
    color: var(--brand-primary);
}

.chapter-actions {
    bottom: 0;
    position: fixed;
    width: 400px;
    background-color: var(--background-offwhite);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
    z-index: 10;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
}

.chapter .chapter-title {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: var(--text-heading);
    /* margin: 0 20px; */
    position: relative;
    display: block;
    list-style-type: decimal;
}

.chapter .chapter-title .chapter-title-text {
    margin: 0px 75px 0px 49px;
    padding: 20px 0px 20px 0px;
    position: relative;
    display: block;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title a:hover h5,
.chapter .chapter-title a:hover p {
    color: var(--brand-black);
}

.chapter .chapter-title h5 {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: var(--text-heading);
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title p {
    font-family: CircularStdBold;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-label);
    margin-bottom: 0;
    transition: all .3s ease-in-out 0s;
}

/*.chapter .chapter-title:before {
    content: url(../../../assets/images/icons/drag.svg);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all .3s ease-in-out 0s;
}*/

.chapter .chapter-title .expand svg,
.chapter .chapter-title .expand img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .expand.collapsed svg,
.chapter .chapter-title .expand.collapsed img {
    transform: rotate(180deg) translate(0px, 0px);
}

.chapter .chapter-content {
    padding: 0px 20px 0px 20px;
}

.chapter .chapter-title .chapter-settings-btn svg,
.chapter .chapter-title .chapter-settings-btn img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 45px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .chapter-move svg,
.chapter .chapter-title .chapter-move img {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 20px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .expand.collapsed svg path,
.chapter .chapter-title .chapter-settings-btn svg path,
.chapter .chapter-title .chapter-move svg path,
.chapter .chapter-content .lessons .lesson .chapter-move svg {
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title .expand.collapsed svg:hover path,
.chapter .chapter-title .chapter-settings-btn svg:hover path,
.chapter .chapter-title .chapter-move svg:hover path,
.chapter .chapter-content .lessons .lesson .chapter-move svg:hover path,
.chapter .chapter-content .lessons .lesson .lesson-settings-btn:hover svg path {
    fill: var(--brand-primary);
}

.chapter .chapter-content .lessons {
    list-style: disc inside;
}

.chapter .chapter-content .lessons .lesson {
    background-color: var(--brand-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 62px 0px 49px;
    /* cursor: pointer; */
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chapter .chapter-content .lessons .lesson li {
    font-family: CircularStd;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 20px 0;
    color: var(--text-heading);
    list-style-type: decimal !important;
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chapter .chapter-content .lessons .lesson:last-child {
    margin-bottom: 20px;
}

.chapter .chapter-content .lessons .lesson:hover {
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    /* background-color: var(--background-offwhite) !important; */
}

.chapter .chapter-content .lessons .lesson .chapter-move svg,
.chapter .chapter-content .lessons .lesson .chapter-move img {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 20px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-content .lessons .lesson .lesson-settings-btn {
    position: absolute;
    /* display: block; */
    /* width: 16px; */
    height: 100%;
    top: 0px;
    right: 36px;
    padding: 16px 5px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-content .lessons .lesson .lesson-settings-btn svg,
.chapter .chapter-content .lessons .lesson .lesson-settings-btn img {
    width: 16px;
    height: 16px;
    top: 0px;
    /* right: 36px; */
    /* padding: 20px 5px; */
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-content .lessons .lesson:after {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-content .lessons .lesson.video:after {
    content: url(../../../assets/images/icons/video.svg);
}

.chapter .chapter-content .lessons .lesson.text:after {
    content: url(../../../assets/images/icons/text.svg);
}

.chapter .chapter-content .lessons .lesson.audio:after {
    content: url(../../../assets/images/icons/audio.svg);
}

.chapter .chapter-content .lessons .lesson.download:after {
    content: url(../../../assets/images/icons/download.svg);
}

.chapter .chapter-content .lessons .lesson.exam:after {
    content: url(../../../assets/images/icons/exam.svg);
}

#main .side.create.hide {
    transform: translate(-100%, 0px);
    border-right: none;
}

#main .chapter-actions.hide {
    transform: translate(-100%, 0px);
    border-right: none;
}

#main .body.create.show {
    transform: translate(0px, 0px);
    /* max-width: none; */
    width: 100vw;
}

#main .body.create .form-control {
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/*Responsiveness*/
@media (max-width: 768px) {
    #nav.main {}

    .body #main {
        /* padding-top: 30px; */
        width: 100vw;
        transform: none;
    }

    #main {
        padding: 50px 30px;
    }

    #body #main.create {
        padding: 0;
    }

    #main .side.create {
        transform: translate(0px, 0px);
        width: 100vw;
        max-width: 100vw;
        border-right: none;
    }

    #main .body.create {
        transform: translate(100%, 0px);
        width: 100vw;
        max-width: 100vw;
    }

    #main .side.create.hide {
        transform: translate(-100%, 0px);
        width: 100vw;
        max-width: 100vw;
        border-right: none;
    }

    #main .body.create.show {
        transform: translate(0px, 0px);
        width: 100vw;
        max-width: 100vw;
    }

    .chapter-actions {
        width: 100%;
    }

    .header-btn {
        padding: 25px;
    }

    .header-btn.with-icon svg {
        width: 20px;
    }

    .header-btn.icon-right svg,
    .header-btn.icon-left svg {
        margin-left: 0;
        margin-right: 0;
    }

    .header-btn.with-icon h6 {
        display: none;
    }

    .header-title p {
        display: none;
    }

    #main .body.create .settings {
        padding: 30px 20px;
    }

    #main .body.create.show #body-container #body-header {}

}