#nav.main {
    background: #ffffff;
    position: fixed;
    padding: 24px 100px;
    -webkit-box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
       -moz-box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
            box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
    left: 0;
    z-index: 5;
}

#nav.main.proto {
    position: fixed !important;
    padding-top: 24px !important;
}

.account {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #222222;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#sidebar .account .nav-link {
    padding: 20px;
}

.account .user {
    -o-object-fit: cover;
       object-fit: cover;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    margin-right: 20px;
}

#sidebar.hide .account .user {
    margin-right: 0;
}

#sidebar.hide .account .nav-link .col-auto.d-block {
    display: none !important;
}

.account p {
    margin-bottom: 0;
    color: var(--text-body);
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    font-size: 12px;
    line-height: 10px;
}

.account h5 {
    margin-bottom: 0;
    font-size: 14px;
    line-height: normal;
    color: var(--text-label);
    font-weight: normal;
    letter-spacing: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.account .sub-menu-link:after {
    content: "";
    background-image: url(../../../assets/images/icons/outline-chevron_down-24px.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    -webkit-background-size: 20px 20px;
       -moz-background-size: 20px;
         -o-background-size: 20px;
            background-size: 20px;
}

#body {
    padding-left: 70px;
    padding-bottom: 100px;
    background: #FAFAFA;
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -o-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -moz-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: relative;
    z-index: 2;
}

#footer {
    margin-left: 400px;
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -o-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -moz-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

#body #sidebar {
    max-width: 300px;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--text-heading);
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -o-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -moz-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    left: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    bottom: 0;
    left: 0;
}

#body #sidebar.hide {
    width: 70px;
    overflow: hidden;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

#body #main {
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 150px;
    padding-bottom: 100px;
    min-height: 100vh;
    z-index: 3;
}


#sidebar #logo {
    padding: 30px 0;
    max-height: 100px;
    width: 150px;
    margin: 0px auto 0 20px;
}

#sidebar.hide #logo {
    padding: 33px 0px;
    height: 100px;
    max-height: 100px;
    width: 40px;
    margin: 0 20px;
}

#sidebar #logo .logo {
    width: 100%;
    content: url("../images/logo-white.png");
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -o-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -moz-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

#sidebar.hide #logo .logo {
    height: 100px;
    content: url("../images/favicon.svg");
}

#sidebar .nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* width */
#sidebar::-webkit-scrollbar {
    width: 10px !important;
    margin-left: 0px !important;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05) !important;
    -webkit-border-radius: 50px !important;
            border-radius: 50px !important;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2) !important;
    -webkit-border-radius: 50px !important;
            border-radius: 50px !important;
    -webkit-transition: all .3s ease-in-out 0s !important;
    -o-transition: all .3s ease-in-out 0s !important;
    -moz-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3) !important;
    -webkit-border-radius: 50px !important;
            border-radius: 50px !important;
}

#sidebar .nav .nav-item .nav-link svg path {}

#sidebar .nav .nav-item .nav-link .svg.icon {
    width: 25px;
    padding: 20px 22.5px;
}

#sidebar.hide .nav .nav-item .nav-link .svg.icon {
    width: 25px;
    padding: 20px 22.5px;
}

#sidebar .nav .nav-item .nav-link {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--background-gray);
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

#sidebar.hide .nav .nav-item .nav-link {
    padding: 0;
    margin: 0;
}

#sidebar .nav .nav-item .nav-link.active {
    color: var(--background-gray);
    opacity: 1;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#sidebar .nav .nav-item .nav-link:hover {
    opacity: 1;
}

#sidebar.hide .nav .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#sidebar .nav .nav-item .nav-link .svg path {
    -webkit-transition: all .3s ease-in-out 0s !important;
    -o-transition: all .3s ease-in-out 0s !important;
    -moz-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
    fill: var(--background-gray);
    opacity: 1;
}

#sidebar .nav .nav-item .nav-link.active .svg path {
    fill: var(--background-gray);
    opacity: 1;
}

.tutor-courses.empty {
    color: var(--brand-primary);
    width: 100%;
    height: 300px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border: 2px dashed var(--text-body);
    position: absolute;
    -webkit-transition: all .3s ease-in-out 0s !important;
    -o-transition: all .3s ease-in-out 0s !important;
    -moz-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}

.tutor-courses.empty.inline {
    height: inherit;
    /* width: 100%; */
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 50px;
    padding-bottom: 50px;
}

.tutor-courses.empty:hover {
    /*     color: var(--brand-white); */
    background-color: rgba(255, 220, 195, 0.2);
    border: 2px dashed var(--brand-primary);
    -webkit-box-shadow: 0px 20px 20px -10px rgba(255, 105, 0, 0.1);
       -moz-box-shadow: 0px 20px 20px -10px rgba(255, 105, 0, 0.1);
            box-shadow: 0px 20px 20px -10px rgba(255, 105, 0, 0.1);
    -webkit-transform: translateY(-3px);
       -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
         -o-transform: translateY(-3px);
            transform: translateY(-3px);
}

.tutor-courses.empty h4 {
    color: var(--text-body);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out 0s !important;
    -o-transition: all .3s ease-in-out 0s !important;
    -moz-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}

.tutor-courses.empty p {
    color: var(--text-body);
    -webkit-transition: all .3s ease-in-out 0s !important;
    -o-transition: all .3s ease-in-out 0s !important;
    -moz-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}

.tutor-courses.empty:hover h4,
.tutor-courses.empty:hover p {
    color: inherit !important;
}


.tutor-courses.empty svg {
    margin-bottom: 15px;
    width: 20px;
    height: 20px;
}

.tutor-courses.empty svg path {
    fill: var(--text-body);
    -webkit-transition: all .3s ease-in-out 0s !important;
    -o-transition: all .3s ease-in-out 0s !important;
    -moz-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}


.tutor-courses.empty:hover svg path {
    fill: var(--brand-primary);
}

.course.tutor-courses .course-img {
    height: 200px;
    margin-bottom: 30px;
}

.course.tutor-courses .name {
    padding: 0 30px 30px 30px;
}

.course.tutor-courses .item-details {
    padding: 15px 30px;
}

.course.tutor-courses:before {
    content: none;
}


/*progressbar*/
#progressbar {
    margin-bottom: 50px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: var(--text-heading);
    text-transform: capitalize;
    /* font-size: 15px; */
    text-align: left;
    width: -webkit-calc(100%/3);
    width: -moz-calc(100%/3);
    width: calc(100%/3);
    counter-increment: step;
    float: left;
    position: relative;
    /* letter-spacing: 1px; */
}

#progressbar li a.active {
    color: var(--brand-primary);
}

#progressbar li:before {
    content: counter(step);
    /*     counter-increment: step; */
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    display: block;
    color: var(--background-gray);
    background: var(--text-body);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    margin: 0 auto 10px auto;
}

#progressbar li:before {
    margin-left: 0;
    /* margin-right: 0; */
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #686868;
    position: absolute;
    left: -100%;
    top: 14px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li a.active:before,
#progressbar li a.active:after {
    background: var(--brand-primary);
    color: white;
}


.element-box {
    padding: 30px;
    margin-bottom: 1rem;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
       -moz-box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
            box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
    box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
}

/*---------------------------------------*/

#nav.create {
    background-color: var(--text-heading);
    color: var(--background-gray);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 !important;
    z-index: 1030;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav.create.proto {
    position: fixed !important;
    padding-top: 0 !important;
}

#nav.create h6,
#nav.create p {
    color: var(--background-gray);
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

#nav.create .border-right,
#nav.create .border-left {
    border-color: rgba(255, 255, 255, 0.2);
    display: block;
}

#nav.create .header-title {
    padding: 15px 15px 15px 0;
    height: 100%;
    text-align: left;
}

.header-btn {
    padding: 25px 50px;
    height: 100%;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: transparent;
    border: 0px solid transparent;
    color: var(--background-gray);
    opacity: 0.6;
}

.header-btn:hover {
    color: var(--brand-white);
    fill: var(--brand-white);
    /* background-color: rgba(255, 255, 255, 0.1); */
    opacity: 1;
}

.header-btn:hover {
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}

.header-btn h6 {
    display: inline-block;
    color: var(--background-gray);
}

.header-btn.with-icon svg {
    width: 15px;
}

.header-btn.icon-left svg {
    margin-right: 20px;
}

.header-btn.icon-right svg {
    margin-left: 20px;
}

.header-btn.icon-right,
.header-btn.icon-left {
    margin-left: 0;
    margin-right: 0;
}

.header-btn.icon-only svg {
    width: 20px;
}

/*------------------------------*/
body.create {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: #eeeeee;
    display: block;
    position: relative;
}

#main.create {
    height: 100%;
    max-height: 100%;
    background: #eeeeee;
    display: block;
    position: relative;
}

#body #main.create {
    padding: 0;
}

#main .side.create {
    max-width: 400px;
    width: 400px;
    height: 100%;
    padding-top: 75px;
    overflow-y: auto;
    overflow-x: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -o-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -moz-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    position: absolute;
    display: flex;
    /* bottom: 0; */
    /* left: 0; */
}

#main .body.create {
    max-width: -webkit-calc(100vw - 400px);
    max-width: -moz-calc(100vw - 400px);
    max-width: calc(100vw - 400px);
    width: 100%;
    height: 100%;
    padding-top: 75px;
    -webkit-transform: translate(400px, 0px);
    -moz-transform: translate(400px, 0px);
    -ms-transform: translate(400px, 0px);
    -o-transform: translate(400px, 0px);
    transform: translate(400px, 0px);
    overflow-y: auto;
    overflow-x: auto;
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -o-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -moz-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

#footer.create {
    margin-left: 0;
    bottom: 0;
    /* position: absolute; */
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
}

#footer.create p,
#footer.create a {
    font-family: Soleil;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-body);
    margin-bottom: 0;
}

#main .body.create #body-container {
    height: -webkit-calc(100%);
    height: -moz-calc(100%);
    height: calc(100%);
    width: 100%;
    padding: 20px;
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -o-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    -moz-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
}

#main .body.create.show #body-container #body-header {
    max-width: 1000px;
}

#main .body.create.show #body-container #body-content {}

#main .body.create #body-container #body-header {
    width: 100%;
    max-width: 1000px;
    padding: 30px 30px;
    margin: 0px auto;
    margin-bottom: 20px;
    display: block;
    /* height: calc(100% - 40px); */
    overflow: hidden;
    background-color: var(--brand-white);
    -webkit-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
       -moz-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
            box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#main .body.create #body-container #body-content {
    width: 100%;
    max-width: 1000px;
    padding: 30px 30px;
    margin: 0px auto;
    margin-bottom: 90px;
    display: block;
    background-color: var(--brand-white);
    -webkit-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
       -moz-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
            box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

#main .body.create #body-container #footer.create {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto !important;
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
#chapters {
    /* height: 100%; */
    width: 100%;
    padding-bottom: 83px;
    overflow: hidden auto;
    display: list-item;
    padding: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter {
    margin: 0px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
    background: var(--brand-white);
    -webkit-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    -moz-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* overflow: hidden; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chapter:nth-last-child(1) {
    margin-bottom: 0px;
}

.chapter .lesson-types.show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.chapter .lesson-types {
    padding: 0px 20px 0px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.chapter .lesson-type {
    display: block;
    text-align: center;
    padding: 15px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .lesson-type:hover {
    /* background-color: rgba(251, 132, 13, 0.05); */
}

.chapter .lesson-type svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.chapter .lesson-type svg path {
    fill: var(--text-heading);
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .lesson-type p {
    font-family: Soleil;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-heading);
    margin-bottom: 0px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .lesson-type:hover p,
.chapter .lesson-type:hover svg path {
    fill: var(--brand-primary);
    color: var(--brand-primary);
}

.chapter-actions {
    bottom: 0;
    position: fixed;
    width: 400px;
    background-color: var(--background-gray);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
    z-index: 10;
}

.chapter .chapter-title {
    font-family: CircularstdBold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: var(--text-heading);
    /* margin: 0 20px; */
    position: relative;
    display: block;
    list-style-type: decimal;
}

.chapter .chapter-title .chapter-title-text {
    margin: 0px 75px 0px 49px;
    padding: 20px 0px 20px 0px;
    position: relative;
    display: block;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title a:hover h5,
.chapter .chapter-title a:hover p {
    color: var(--brand-black);
}

.chapter .chapter-title h5 {
    font-family: CircularstdBold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: var(--text-heading);
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title p {
    font-family: Soleil;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--text-label);
    margin-bottom: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

/*.chapter .chapter-title:before {
    content: url(../../../assets/images/icons/drag.svg);
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}*/

.chapter .chapter-title .expand svg,
.chapter .chapter-title .expand img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .expand.collapsed svg,
.chapter .chapter-title .expand.collapsed img {
    -webkit-transform: rotate(180deg) translate(0px, 0px);
       -moz-transform: rotate(180deg) translate(0px, 0px);
        -ms-transform: rotate(180deg) translate(0px, 0px);
         -o-transform: rotate(180deg) translate(0px, 0px);
            transform: rotate(180deg) translate(0px, 0px);
}

.chapter .chapter-content {
    padding: 0px 20px 0px 20px;
}

.chapter .chapter-title .chapter-settings-btn svg,
.chapter .chapter-title .chapter-settings-btn img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 45px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .chapter-move svg,
.chapter .chapter-title .chapter-move img {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .expand.collapsed svg path,
.chapter .chapter-title .chapter-settings-btn svg path,
.chapter .chapter-title .chapter-move svg path,
.chapter .chapter-content .lessons .lesson .chapter-move svg {
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title .expand.collapsed svg:hover path, .chapter .chapter-title .chapter-settings-btn svg:hover path, .chapter .chapter-title .chapter-move svg:hover path, .chapter .chapter-content .lessons .lesson .chapter-move svg:hover path, .chapter .chapter-content .lessons .lesson .lesson-settings-btn:hover svg path {
    fill: var(--brand-primary);
}

.chapter .chapter-content .lessons {
    list-style: disc inside;
}

.chapter .chapter-content .lessons .lesson {
    background-color: var(--brand-white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 62px 0px 49px;
    /* cursor: pointer; */
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chapter .chapter-content .lessons .lesson li {
    font-family: Soleil;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    padding: 20px 0;
    color: var(--text-heading);
    list-style-type: decimal !important;
    display: list-item;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chapter .chapter-content .lessons .lesson:last-child {
    margin-bottom: 20px;
}

.chapter .chapter-content .lessons .lesson:hover {
    -webkit-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    -moz-box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    /* background-color: var(--background-offwhite) !important; */
}

.chapter .chapter-content .lessons .lesson .chapter-move svg,
.chapter .chapter-content .lessons .lesson .chapter-move img {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-content .lessons .lesson .lesson-settings-btn {
    position: absolute;
    /* display: block; */
    /* width: 16px; */
    height: 100%;
    top: 0px;
    right: 36px;
    padding: 16px 5px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-content .lessons .lesson .lesson-settings-btn svg,
.chapter .chapter-content .lessons .lesson .lesson-settings-btn img {
    width: 16px;
    height: 16px;
    top: 0px;
    /* right: 36px; */
    /* padding: 20px 5px; */
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-content .lessons .lesson:after {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-content .lessons .lesson.video:after {
    content: url(../../../assets/images/icons/video.svg);
}

.chapter .chapter-content .lessons .lesson.text:after {
    content: url(../../../assets/images/icons/text.svg);
}

.chapter .chapter-content .lessons .lesson.audio:after {
    content: url(../../../assets/images/icons/audio.svg);
}

.chapter .chapter-content .lessons .lesson.download:after {
    content: url(../../../assets/images/icons/download.svg);
}

.chapter .chapter-content .lessons .lesson.exam:after {
    content: url(../../../assets/images/icons/exam.svg);
}

#main .side.create.hide {
    -webkit-transform: translate(-400px, 0px);
       -moz-transform: translate(-400px, 0px);
        -ms-transform: translate(-400px, 0px);
         -o-transform: translate(-400px, 0px);
            transform: translate(-400px, 0px);
    border-right: none;
}

#main .body.create.show {
    -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    /* width: 100vw; */
    max-width: 100vw;
}

#main .body.create .form-control {
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}


/*Responsiveness*/
@media (max-width: 768px) {
    #nav.main {
        padding: 24px 30px;
        padding-left: 100px;
    }

    #body #main {
        padding-top: 200px;
    }

    #body #main.create {
        padding: 0;
    }

    #main .side.create {
        -webkit-transform: translate(0px, 0px);
           -moz-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
             -o-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
        width: 100vw;
        max-width: 100vw;
        border-right: none;
    }

    #main .body.create {
        -webkit-transform: translate(100vw, 0px);
           -moz-transform: translate(100vw, 0px);
            -ms-transform: translate(100vw, 0px);
             -o-transform: translate(100vw, 0px);
                transform: translate(100vw, 0px);
        width: 100vw;
        max-width: 100vw;
    }

    #main .side.create.hide {
        -webkit-transform: translate(-100vw, 0px);
           -moz-transform: translate(-100vw, 0px);
            -ms-transform: translate(-100vw, 0px);
             -o-transform: translate(-100vw, 0px);
                transform: translate(-100vw, 0px);
        width: 100vw;
        max-width: 100vw;
        border-right: none;
    }

    #main .body.create.show {
        -webkit-transform: translate(0px, 0px);
           -moz-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
             -o-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
        width: 100vw;
        max-width: 100vw;
    }

    .chapter-actions {
        width: 100%;
    }
    
    .header-btn {
        padding: 25px;
    }

    .header-btn.with-icon svg {
        width: 20px;
    }

    .header-btn.icon-right svg,
    .header-btn.icon-left svg {
        margin-left: 0;
        margin-right: 0;
    }

    .header-btn.with-icon h6 {
        display: none;
    }

    .header-title p {
        display: none;
    }

    #main .body.create .settings {
        padding: 30px 20px;
    }

    #main .body.create.show #body-container #body-header {}


    

}

@media (max-width: 575.98px) {}

@media (min-width: 1230px) {}

/*Responsiveness End*/
