body {
    background-color: var(--background-offwhite);
}

#nav #logo .logo {
    height: 40px;
}

#nav #display-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

#nav #menu {
    padding: 10px 10px;
}

#nav #menu svg {
    height: 20px;
    width: 20px;
}

#nav #menu svg path {
    fill: var(--text-heading);
}

#nav.navbar {
    background: none;
    position: static !important;
    top: 0;
    padding: 20px 50px !important;
    border-bottom: 1px solid var(--background-gray) !important;
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.15);
    background-color: var(--brand-white);
    left: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 20px;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

#footer {
    margin-left: 0;
    margin-top: 30px;
    bottom: 0;
    /* position: absolute; */
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 50px;
    height: auto;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    display: grid;
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    -webkit-box-align: center;
    align-items: center;
}

#footer p:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 20px;
    -webkit-box-align: center;
    align-items: center;
}

#footer p:nth-child(2) a:nth-child(2) {
    justify-self: left;
}

#footer p,
#footer a {
    font-family: CircularStd;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-body);
    margin-bottom: 0;
}

#nav.main.proto {
    position: fixed !important;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

#body .expand-sidebar {
    padding: 50px 25px;
    margin: auto;
    background-color: var(--text-heading);
    transition: all .2s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.body #sidebar {
    max-width: 250px;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--text-heading);
    transition: all .2s cubic-bezier(0.4, 0, 1, 1) 0s;
    left: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
}

.body #sidebar.hide {
    transform: translate(-100%, 0);
}

.body #main {
    z-index: 3;
    width: 100vw;
    transition: all .2s cubic-bezier(0.4, 0, 1, 1) 0s;
    /* padding: 50px; */
}

#sidebar #header {
    transition: all .2s cubic-bezier(0.4, 0, 1, 1) 0s;
    display: grid;
}

#sidebar #logo {
    overflow: hidden;
    width: 150px;
    transition: all .2s cubic-bezier(0.4, 0, 1, 1) 0s;
    justify-self: center;
    margin: 30px 0;
}

#sidebar #logo .logo {
    height: 40px;
    transition: all .2s cubic-bezier(0.77, 0, 0.175, 1) 4s;
    margin: auto;
    transition: all .2s ease-in-out 0s;
}

#sidebar #logo .logo .white {
    fill: white;
}

#sidebar .nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    display: grid;
}

/* width */
#sidebar::-webkit-scrollbar {
    width: 10px !important;
    margin-left: 0px !important;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05) !important;
    border-radius: 50px !important;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 50px !important;
    transition: all .2s ease-in-out 0s !important;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 50px !important;
}

#sidebar .nav .nav-item .nav-link svg path {}

#sidebar .nav .nav-item .nav-link .svg.icon {
    width: 25px;
    height: 25px;
    padding: 17.5px 20px;
    transition: all .2s ease-in-out 0s;
}

#sidebar .nav .nav-item:hover .nav-link .svg.icon {
    transform: scale(1.1667);
}

#sidebar .nav .nav-item:hover .nav-link p {
    margin-left: 10px;
}

#sidebar .nav .nav-item .nav-link p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    display: inline;
    line-height: 25px;
    color: var(--background-gray);
    transition: all .2s ease-in-out 0s;
}

#sidebar .nav .nav-item .nav-link {
    opacity: 0.5;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

#sidebar .nav .nav-item .nav-link.active p {
    color: var(--background-gray);
}

#sidebar .nav .nav-item .nav-link.active {
    opacity: 1;
    border-radius: 5px;
}

#sidebar .nav .nav-item:hover .nav-link {
    opacity: 1;
}

#sidebar .nav .nav-item .nav-link .svg path {
    transition: all .2s ease-in-out 0s !important;
    fill: var(--background-gray);
    opacity: 1;
}

#sidebar .nav .nav-item .nav-link.active .svg path {
    fill: var(--background-gray);
    opacity: 1;
}

.page-title {
    margin-bottom: 0;
}

.header-actions {
    display: grid;
    grid-template-rows: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid var(--background-gray) !important;
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.15);
    background-color: var(--brand-white);
    padding: 50px;
}

.header-actions .first-row {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 30px;
    -webkit-box-align: center;
    align-items: center;
}

.header-actions .first-row div:nth-child(2) {justify-self: right;}

.header-actions .second-row {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 30px;
    -webkit-box-align: center;
    align-items: center;
}

.header-actions .tabs .tab {
    margin: 0 5px;
}

.header-actions .tabs .tab a {
    font-size: 12px;
}

.header-actions .tabs .tab a span {
    margin: 0;
}

.tutor-courses.empty {
    color: var(--brand-primary);
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px dashed var(--text-body);
    position: absolute;
    transition: all .2s ease-in-out 0s !important;
}

.tutor-courses.empty.inline {
    height: inherit;
    /* width: 100%; */
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 50px;
    padding-bottom: 50px;
}

.tutor-courses.empty:hover {
    /*     color: var(--brand-white); */
    background-color: rgba(255, 220, 195, 0.2);
    border: 2px dashed var(--brand-primary);
    box-shadow: 0px 20px 20px -10px rgba(255, 105, 0, 0.1);
    transform: translateY(-3px);
}

.tutor-courses.empty h4 {
    color: var(--text-body);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all .2s ease-in-out 0s !important;
}

.tutor-courses.empty p {
    color: var(--text-body);
    transition: all .2s ease-in-out 0s !important;
}

.tutor-courses.empty:hover h4,
.tutor-courses.empty:hover p {
    color: inherit !important;
}


.tutor-courses.empty svg {
    margin-bottom: 15px;
    width: 20px;
    height: 20px;
}

.tutor-courses.empty svg path {
    fill: var(--text-body);
    transition: all .2s ease-in-out 0s !important;
}


.tutor-courses.empty:hover svg path {
    fill: var(--brand-primary);
}

.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
}

.course.tutor-courses {
    background: var(--brand-white);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    border: navajowhite;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr auto;
    justify-content: stretch;
    grid-row-gap: 0px;
    width: 100%;
}

.course.tutor-courses .course-img-link {
    width: 100%;
    height: 100%;
    display: block;
}

.course.tutor-courses .course-img-link .course-img {
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}

.course.tutor-courses .course-details {
    padding: 15px 20px;
    display: grid;
    grid-row-gap: 8px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: none;
    border: solid var(--background-gray);
    border-width: 0px 1px 1px 1px;
}

.course.tutor-courses .course-details h2 {
    font-family: CircularStdBold;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: var(--text-heading);
    margin-bottom: 0;
}

.course.tutor-courses .course-details .course-info,
.course.tutor-courses .course-details .course-info a {
    font-family: CircularStd;
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: var(--text-label);
    margin-bottom: 0px;
}

.course.tutor-courses .course-details .course-info svg {
    width: 12px;
    height: 12px;
}

.course.tutor-courses .course-details .course-info svg path {
    fill: var(--text-label);
}

.course.tutor-courses:before {
    content: none;
}


/* Modal */
.modal-open .modal {
    padding: 0 !important;
    margin: auto 30px !important;
}

#create-course.modal .modal-dialog {
    max-width: 1000px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto !important;
}

#create-course.modal .modal-dialog .modal-content {
    background-color: white;
}

#create-course.modal .modal-dialog .close {
    background-color: var(--brand-primary);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}


#create-course.modal .modal-dialog .close svg {
    width: 15px;
    height: 15px;
}

#create-course.modal .modal-dialog .close svg path {
    fill: var(--brand-white);
}

#create-course.modal .create-course-bg {

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../../../assets/images/heros/create-course-bg.jpg);

    background-position: center center;

    background-size: cover;
}

#create-course.modal .create-course-form {
    padding: 50px 30px;
    margin-left: auto;
}

@media (max-width: 768px) {
    #create-course.modal .create-course-form {
        padding: 50px 20px 20px 20px;
        margin-left: auto;
    }
}

#create-course.modal .create-course-form textarea {

    height: 150px;

    resize: none;
}

.modal-open {
    padding-right: 0 !important;
    overflow: auto;
}

.modal-backdrop.show {
    opacity: 0.7;
}

/* Modal */

/*progressbar*/
#progressbar {
    margin-bottom: 50px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: var(--text-heading);
    text-transform: capitalize;
    /* font-size: 15px; */
    text-align: left;
    width: calc(100%/3);
    counter-increment: step;
    float: left;
    position: relative;
    /* letter-spacing: 1px; */
}

#progressbar li a.active {
    color: var(--brand-primary);
}

#progressbar li:before {
    content: counter(step);
    /*     counter-increment: step; */
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    display: block;
    color: var(--background-gray);
    background: var(--text-body);
    border-radius: 10px;
    margin: 0 auto 10px auto;
}

#progressbar li:before {
    margin-left: 0;
    /* margin-right: 0; */
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #686868;
    position: absolute;
    left: -100%;
    top: 14px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li a.active:before,
#progressbar li a.active:after {
    background: var(--brand-primary);
    color: white;
}


.element-box {
    padding: 30px;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
    box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
}

/* SETTINGS */
#main {
    padding: 50px;
}

#main.settings .tab-content {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    padding: 60px 30px !important;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.sidebar-overlay {
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    /* visibility: hidden; */
    display: none;
    transition: all 0.2s ease-in-out 0s;
    position: fixed;
    overflow: hidden;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-opened .sidebar-overlay {
    opacity: 0.3;
    /* visibility: visible; */
    display: block;
}

/*Responsiveness*/
@media (min-width: 1230px) {
    .header-actions .first-row, .header-actions .second-row {
    }
}

@media (max-width: 1000px) {
    .courses {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #main, #footer {
        padding: 15px 30px;
    }

    #nav.navbar {
        padding: 20px 30px !important
    }

    #nav #menu svg .text {
        display: none;
    }

    .courses {
        grid-template-columns: 1fr 1fr;
    }

    .header-actions {
        grid-template-columns: 1fr;
        padding: 30px 30px 0 30px;
    }

    .header-actions .first-row {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 20px;
    }

    .header-actions .second-row {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 20px;
    }

    .header-actions .first-row div:nth-child(2) {
        justify-self: left;
    }
}

@media (max-width: 575.98px) {
    .courses {
        grid-template-columns: 1fr;
    }

    .course.tutor-courses .course-img-link {
        width: 100%;
        height: 100%;
    }

@media (max-width: 350px) {
    .courses {
        grid-template-columns: 1fr;
    }
}


/*Responsiveness End*/
