#nav.main {
    background: #ffffff;
    position: fixed;
    padding: 24px 100px;
    box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
    left: 0;
    z-index: 5;
}

#nav.main.proto {
    position: fixed !important;
    padding-top: 24px !important;
}

.account {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #222222;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#sidebar .account .nav-link {
    padding: 20px;
}

.account .user {
    -o-object-fit: cover;
       object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 20px;
}

#sidebar.hide .account .user {
    margin-right: 0;
}

#sidebar.hide .account .nav-link .col-auto.d-block {
    display: none !important;
}

.account p {
    margin-bottom: 0;
    color: var(--text-body);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    font-size: 12px;
    line-height: 10px;
}

.account h5 {
    margin-bottom: 0;
    font-size: 14px;
    line-height: normal;
    color: var(--text-label);
    font-weight: normal;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.account .sub-menu-link:after {
    content: "";
    background-image: url(../../../assets/images/icons/outline-chevron_down-24px.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30px;
    background-size: 20px;
}

#body {
    padding-left: 70px;
    padding-bottom: 100px;
    background: #eeeeee;
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: relative;
    z-index: 2;
}

#footer {
    margin-left: 400px;
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

#body #sidebar {
    max-width: 300px;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--text-heading);
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    left: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    bottom: 0;
    left: 0;
}

#body #sidebar.hide {
    width: 70px;
    overflow: hidden;
    box-shadow: none;
}

#body #main {
    padding-left: 30px;
    padding-right: 100px;
    padding-top: 150px;
    padding-bottom: 100px;
    min-height: 100vh;
    z-index: 3;
}


#sidebar #logo {
    padding: 30px 0;
    max-height: 100px;
    width: 150px;
    margin: 0px auto 0 20px;
}

#sidebar.hide #logo {
    padding: 33px 0px;
    height: 100px;
    max-height: 100px;
    width: 40px;
    margin: 0 20px;
}

#sidebar #logo .logo {
    width: 100%;
    content: url("../images/logo-white.png");
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

#sidebar.hide #logo .logo {
    height: 100px;
    content: url("../images/favicon.svg");
}

#sidebar .nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


/* width */
#sidebar::-webkit-scrollbar {
    width: 10px !important;
    margin-left: 0px !important;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05) !important;
    border-radius: 50px !important;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 50px !important;
    -webkit-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3) !important;
    border-radius: 50px !important;
}

#sidebar .nav .nav-item .nav-link svg path {}

#sidebar .nav .nav-item .nav-link .svg.icon {
    width: 25px;
    padding: 20px 22.5px;
}

#sidebar.hide .nav .nav-item .nav-link .svg.icon {
    width: 25px;
    padding: 20px 22.5px;
}

#sidebar .nav .nav-item .nav-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--background-gray);
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

#sidebar.hide .nav .nav-item .nav-link {
    padding: 0;
    margin: 0;
}

#sidebar .nav .nav-item .nav-link.active {
    color: var(--background-gray);
    opacity: 1;
    border-radius: 0;
}

#sidebar .nav .nav-item .nav-link:hover {
    opacity: 1;
}

#sidebar.hide .nav .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
}

#sidebar .nav .nav-item .nav-link .svg path {
    -webkit-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
    fill: var(--background-gray);
    opacity: 1;
}

#sidebar .nav .nav-item .nav-link.active .svg path {
    fill: var(--background-gray);
    opacity: 1;
}

.tutor-courses.empty {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px dashed var(--text-body);
    position: absolute;
    -webkit-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}

.tutor-courses.empty.inline {
    height: inherit;
    /* width: 100%; */
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.tutor-courses.empty:hover {
    color: var(--brand-white);
    background-color: rgba(255, 105, 0, 0.22);
    border: 2px dashed var(--brand-primary);
    box-shadow: 0px 20px 20px -10px rgba(255, 105, 0, 0.1);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.tutor-courses.empty h4 {
    color: var(--text-body);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}


.tutor-courses.empty:hover h4 {
    color: var(--brand-primary);
}


.tutor-courses.empty svg {
    margin-bottom: 15px;
    width: 20px;
    height: 20px;
}

.tutor-courses.empty svg path {
    fill: var(--text-body);
    -webkit-transition: all .3s ease-in-out 0s !important;
    transition: all .3s ease-in-out 0s !important;
}


.tutor-courses.empty:hover svg path {
    fill: var(--brand-primary);
}

.course.tutor-courses .course-img {
    height: 200px;
    margin-bottom: 30px;
}

.course.tutor-courses .name {
    padding: 0 30px 30px 30px;
}

.course.tutor-courses .item-details {
    padding: 15px 30px;
}

.course.tutor-courses:before {
    content: none;
}


/*progressbar*/
#progressbar {
    margin-bottom: 50px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: var(--text-heading);
    text-transform: capitalize;
    /* font-size: 15px; */
    text-align: left;
    width: calc(100%/3);
    counter-increment: step;
    float: left;
    position: relative;
    /* letter-spacing: 1px; */
}

#progressbar li a.active {
    color: var(--brand-primary);
}

#progressbar li:before {
    content: counter(step);
    /*     counter-increment: step; */
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    display: block;
    color: var(--background-gray);
    background: var(--text-body);
    border-radius: 10px;
    margin: 0 auto 10px auto;
}

#progressbar li:before {
    margin-left: 0;
    /* margin-right: 0; */
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #686868;
    position: absolute;
    left: -100%;
    top: 14px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li a.active:before,
#progressbar li a.active:after {
    background: var(--brand-primary);
    color: white;
}


.element-box {
    padding: 30px;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
    box-shadow: 0px 2px 4px rgba(194, 194, 194, 0.12);
}

/*---------------------------------------*/

#nav.create {
    background-color: var(--text-heading);
    color: var(--background-gray);
    padding: 0 !important;
    z-index: 1030;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#nav.create.proto {
    position: fixed !important;
    padding-top: 0 !important;
}

#nav.create h6,
#nav.create p {
    color: var(--background-gray);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nav.create .border-right,
#nav.create .border-left {
    border-color: rgba(255, 255, 255, 0.2);
    display: block;
}

#nav.create .header-title {
    padding: 15px;
    height: 100%;
    text-align: left;
}

.header-btn {
    padding: 25px 50px;
    height: 100%;
    border-radius: 0;
    background-color: transparent;
    border: 0px solid transparent;
    color: var(--background-gray);
}

.header-btn:hover {
    color: var(--brand-white);
    fill: var(--brand-white);
    background-color: rgba(255, 255, 255, 0.1);
}

.header-btn:hover {
    -webkit-transform: none;
            transform: none;
}

.header-btn h6 {
    display: inline-block;
    color: var(--background-gray);
}

.header-btn.with-icon svg {
    width: 15px;
}

.header-btn.icon-left svg {
    margin-right: 20px;
}

.header-btn.icon-right svg {
    margin-left: 20px;
}

.header-btn.icon-right, 
.header-btn.icon-left {
    margin-left: 0;
    margin-right: 0;
}

.header-btn.icon-only svg {
    width: 20px;
}

/*------------------------------*/
body.create {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#body #main.create {
    padding: 0;
}

#main .side.create {
    max-width: 400px;
    width: 400px;
    height: calc(100vh - 75px);
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    left: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

#main .body.create {
    max-width: calc(100vw - 400px);
    width: calc(100vw - 400px);
    height: calc(100vh - 75px);
    -webkit-transform: translate(400px, 0px);
    transform: translate(400px, 0px);
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: all .3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all .5s cubic-bezier(1, 0, 0, 1) 0s;
    left: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}

#footer.create {
    margin-left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: var(--background-gray);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
}

#footer.create p, 
#footer.create a {
    font-family: Soleil;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-body);
    margin-bottom: 0;
}

#main .body.create #body-container {
    height: calc(100% - 57px);
    overflow-y: auto;
    overflow-x: auto;
}

#main .body.create #body-container #body-header {
    padding: 30px 30px;
    display: block;
    margin: 20px;
    /* height: calc(100% - 40px); */
    overflow: hidden;
    background-color: var(--brand-white);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    border-radius: 10px;
}

#main .body.create #body-container #body-content {
    padding: 30px 30px;
    margin: 20px;
    display: block;
    background-color: var(--brand-white);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    border-radius: 10px;
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
#chapters {
    height: calc((100% - 42px) - 40px);
    overflow-y: hidden;
    overflow-x: hidden;
    /* display: block; */
}

.chapter {
    margin: 20px 20px 0px 20px;
    display: block;
    position: relative;
    width: 100%;
    background: var(--brand-white);
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
    border-radius: 10px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chapter:nth-last-child(3) {
    margin-bottom: 20px;
}

.chapter-actions {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: var(--background-gray);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
}

.ui-move-helper {
  transition: none !important;
  animation: pulse 0.4s alternate infinite;
}

.move-placeholder {
  height: 60px;
  width: 5px;
  border-left: 2px solid #4999DA;
  margin: 0 0 0.75rem 0;
  position: relative;
  z-index: 6;
}

@keyframes pulse {
  100% {
    transform: scale(1.1);
  }
}
.cloned-chapters .chapter {
  position: absolute;
  z-index: 1;
}


.chapter .chapter-title {
    font-family: CircularstdBold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: var(--text-heading);
    /* margin: 0 20px; */
    cursor: -webkit-grab;
    cursor: grab;
    position: relative;
    display: block;
    list-style-type: decimal;
}

.chapter .chapter-title a {
    font-family: CircularstdBold;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: var(--text-heading);
    margin: 0px 56px 0px 47px;
    padding: 20px 0px 20px 0px;
    cursor: pointer;
    position: relative;
    display: block;
}

.chapter .chapter-title:before {
    content: url(../../../assets/images/icons/drag.svg);
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-title .expand:not(collapsed) {
    content: url(../../../assets/images/icons/arrows/chevron-up.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
}

.chapter .chapter-title .expand.collapsed {
    content: url(../../../assets/images/icons/arrows/chevron-up.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: rotate(90deg) translate(-2px, 5px);
    transform: rotate(180deg) translate(0px, 5px);
    cursor: pointer;
}

.chapter .chapter-content {
    padding: 0px 20px 0px 20px;
}

.chapter .chapter-content .lessons .lesson {
    font-family: Soleil;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-heading);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* margin: 0 20px; */
    padding: 20px 56px 20px 47px;
    cursor: -webkit-grab;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chapter .chapter-content .lessons .lesson:last-child {
    margin-bottom: 20px;
}

.chapter .chapter-content .lessons .lesson:hover {
    box-shadow: 0px 4px 10px rgba(194, 194, 194, 0.12);
}

.chapter .chapter-content .lessons .lesson:before {
    content: url(../../../assets/images/icons/drag.svg);
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-content .lessons .lesson:after {
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.chapter .chapter-content .lessons .lesson.video:after {
    content: url(../../../assets/images/icons/video.svg);
}

.chapter .chapter-content .lessons .lesson.text:after {
    content: url(../../../assets/images/icons/file-text.svg);
}


/*Responsiveness*/
@media (max-width: 768px) {
    #nav.main {
        padding: 24px 30px;
        padding-left: 100px;
    }

    #body #main {
        padding-top: 200px;
    }

    #body #main.create {
        padding: 0;
    }

    #main .side.create {
        -webkit-transform: translate(-400px, 0px);
        transform: translate(-400px, 0px);
        width: 100vw;
        max-width: 100vw;
    }

    #main .body.create {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        width: 100vw;
        max-width: 100vw;
    }

    .header-btn {
        padding: 25px;
    }

    .header-btn.with-icon svg {
        width: 20px;
    }

    .header-btn.icon-right svg, 
    .header-btn.icon-left svg {
        margin-left: 0;
        margin-right: 0;
    }

    .header-btn.with-icon h6 {
        display: none;
    }

    .header-title p {
        display: none;
    }

    #main .body.create .settings {
        padding: 30px 20px;
        


}

@media (max-width: 575.98px) {}

@media (min-width: 1230px) {}

/*Responsiveness End*/
